div.row
  div.col-md-6
    h2 Create Trial
    form(ng-submit='criar()' , name="ensaioForm")        
        div.form-group
          label(for="nomeEnsaio") Name
          input(ng-model="nome", required , type="text" ,id="nomeEnsaio" ,placeholder="Trial name").form-control
        div.form-group
          label( for="probeType" ) Trial kind
          select(id="probeType" ,ng-model="kind",required ,ng-options="kind.name for kind in kinds    | filter: !kind.activo ").form-control
            option(value="") Select kind
        div.form-group
          label( for="probeID" ) Probe
          select(id="probeID" ,ng-model="probe",required ,ng-options="prob.name for prob in probes    | filter: !prob.livre ").form-control
            option(value="") Select probe
        button(type="submit").btn.btn-default Create  
  div.col-md-6
    div.row
      h2 {{ensaios.length}} Active Trials
      table.table.table-bordered.table-hover
        thead
          th Name
          th Probe
          th Kind
        tbody
          tr(ng-repeat='ensaio in ensaios')
            td 
              a(href="trial/{{$index}}") {{ensaio.name}}
            td 
              a(href="probe/{{ensaio.probe.id}}") {{ensaio.probe.name}}
            td 
              {{ensaio.kind.name}}
    div.row
      h2 Completed Trials
      table.table.table-bordered.table-hover
        thead
          th Name
          th Probe
          th Kind
